vti_encoding:SR|utf8-nl
vti_author:SR|张\\张
vti_modifiedby:SR|张\\张
vti_timelastmodified:TR|05 Jun 2017 15:24:45 -0000
vti_timecreated:TR|05 Jun 2017 15:24:45 -0000
vti_cacheddtm:TX|05 Jun 2017 15:24:45 -0000
vti_filesize:IR|1570
vti_cachedlinkinfo:VX|S|arefbanr.gif S|arefrule.gif S|arefbul1.gif S|arefbul2.gif S|arefbul3.gif S|arefhsel.gif S|arefhbtn.gif S|arefhhov.gif S|arefvsel.gif S|arefvbtn.gif S|arefvhov.gif S|arefhom.gif S|arefhomh.gif S|arefup.gif S|arefuph.gif S|arefbck.gif S|arefbckh.gif S|arefnxt.gif S|arefnxth.gif S|arefbul1.gif S|arefbul2.gif S|arefbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/refined/arefbanr.gif FSUS|_themes/refined/arefrule.gif FSUS|_themes/refined/arefbul1.gif FSUS|_themes/refined/arefbul2.gif FSUS|_themes/refined/arefbul3.gif FSUS|_themes/refined/arefhsel.gif FSUS|_themes/refined/arefhbtn.gif FSUS|_themes/refined/arefhhov.gif FSUS|_themes/refined/arefvsel.gif FSUS|_themes/refined/arefvbtn.gif FSUS|_themes/refined/arefvhov.gif FSUS|_themes/refined/arefhom.gif FSUS|_themes/refined/arefhomh.gif FSUS|_themes/refined/arefup.gif FSUS|_themes/refined/arefuph.gif FSUS|_themes/refined/arefbck.gif FSUS|_themes/refined/arefbckh.gif FSUS|_themes/refined/arefnxt.gif FSUS|_themes/refined/arefnxth.gif FSUS|_themes/refined/arefbul1.gif FSUS|_themes/refined/arefbul2.gif FSUS|_themes/refined/arefbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
