a:link{
color:#CECC34;
}
a:visited{
color:#81932D;
}
a:active{
color:#FEC803;
}
body{
color:#DFF2C7;
background-color:#000000;
}
h1{
color:#DFF2C7;
}
h2,marquee{
color:#DFF2C7;
}
h3{
color:#DFF2C7;
}
h4{
color:#DFF2C7;
}
h5{
color:#DFF2C7;
}
h6{
color:#DFF2C7;
}
LABEL,.MSTHEME-LABEL{
color:#DFF2C7;
}
FIELDSET{
border-color:#484848;
color:#FFFFFF;
}
LEGEND{
color:#DFF2C7;
}
SELECT{
border-color:#A3A3A3;
color:#000000;
}
TABLE{
table-border-color-light:#989898;
table-border-color-dark:#848484;
border-color:#848484;
color:#FFFFFF;
}
CAPTION{
color:#DFF2C7;
}
TH{
color:#DFF2C7;
}
HR{
color:#484848;
}
TD{
border-color:#848484;
}
