a:link{
color:#B6B04D;
}
a:visited{
color:#707849;
}
a:active{
color:#E6E18E;
}
body{
color:#FFFFFF;
background-color:#131313;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#494949;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#A3A3A3;
color:#000000;
}
TABLE{
table-border-color-light:#989898;
table-border-color-dark:#848484;
border-color:#848484;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#494949;
}
TD{
border-color:#848484;
}
